<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<body>

<div class="container">
    <center>
        <div class="jumbotron">
            <h1>ESPARK SECURE PAGE</h1>
        </div>

        <div>
            <form name="fetch-employees" th:action="@{/employee}" th:formmethod="GET">
                <button type="submit" class="btn btn-primary">employees</button>
            </form>
        </div>

        <br/>
        <br/>

        <div th:unless="${error==null}">
            <table class="table">
                <thead>
                <tr>
                    <td>Status code</td>
                    <td>Error</td>
                </tr>
                </thead>
                <tr>
                    <td><span th:text="${error.statusCode}"></span></td>
                    <td><span th:text="${error.body}"></span></td>
                </tr>
            </table>
        </div>

        <br/>
        <div th:if="${error==null}">
            <table class="table">
                <thead>
                <tr>
                    <td>Id</td>
                    <td>First Name</td>
                    <td>Last Name</td>
                </tr>
                </thead>

                <tbody>

                <tr th:each="employee: ${employees}">
                    <td><span th:text="${employee.id}"></span></td>
                    <td><span th:text="${employee.firstName}"></span></td>
                    <td><span th:text="${employee.lastName}"></span></td>
                </tr>

                </tbody>

            </table>
        </div>
    </center>


</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>