<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
        * @author Adarsh Kumar
        * @author $LastChangedBy: Adarsh Kumar$
        * @version $Revision: 0001 $, $Date:: 1/1/10 0:00 AM#$
        * @Espark @copyright all right reserve
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

        <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
            <property name="initialPoolSize" value="${default.dataSource.initialPoolSize}"/>
            <property name="minPoolSize" value="${default.dataSource.minPoolSize}"/>
            <property name="maxPoolSize" value="${default.dataSource.maxPoolSize}"/>
            <property name="acquireIncrement" value="${default.dataSource.acquireIncrement}"/>

            <!-- slow jdbc operations are passed to helpers, defaults to 3,
                  setting 20 to improve performance as we have enough RAM :) -->
            <property name="numHelperThreads" value="${default.dataSource.numHelperThreads}"/>

            <!-- clear out connections not used for 5 minutes -->
            <property name="maxIdleTime" value="${default.dataSource.maxIdleTime}"/>

            <!-- milliseconds to wait for a new connection if all connections are full -->
            <!-- 0 sets the wait time to infinity that is till a connection is released for use. -->
            <property name="checkoutTimeout" value="${default.dataSource.checkoutTimeout}"/>
            <!-- 60 seconds -->
            <!-- maximum connections across all pools.
                ( maxPoolSize * preparedStatements per pool, assuming 20 statements per pool as max) -->
            <property name="maxStatements" value="${default.dataSource.maxStatements}"/>

            <!-- release any connections not returned for 30 minutes -->
            <!-- usually for webapps its 90 seconds -->
            <property name="unreturnedConnectionTimeout" value="90"/>

            <property name="debugUnreturnedConnectionStackTraces" value="true"/>

            <!-- runs an idle test ever 5 minutes with the preferred query to test if connections are active and cleanup -->
            <property name="idleConnectionTestPeriod" value="${default.dataSource.idleConnectionTestPeriod}"/>

            <!-- seconds -->
            <property name="preferredTestQuery" value="${default.dataSource.preferredTestQuery}"/>

            <!-- expensive, and disabled, only enable on testing transactions -->
            <property name="testConnectionOnCheckout" value="${default.dataSource.testConnectionOnCheckout}"/>

            <property name="driverClass" value="${default.dataSource.driverClass}"/>
            <property name="jdbcUrl"
                      value="${default.dataSource.url}${default.dataSource.hostname}:${default.dataSource.portNumber}/${default.dataSource.database}${default.dataSource.extraParam}"/>
            <property name="user" value="${default.dataSource.username}"/>
            <property name="password" value="${default.dataSource.password}"/>
        </bean>

</beans>