<?xml version="1.0" encoding="UTF-8"?>
<!--
        * @author Adarsh Kumar
        * @author $LastChangedBy: Adarsh Kumar$
        * @version $Revision: 0001 $, $Date:: 1/1/10 0:00 AM#$
        * @Espark @copyright all right reserve
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       default-init-method="init" default-destroy-method="destroy"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/tx
                            http://www.springframework.org/schema/tx/spring-tx.xsd
                            http://www.springframework.org/schema/util
                            http://www.springframework.org/schema/util/spring-util.xsd
                            http://www.springframework.org/schema/jdbc
                            http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">


     <jdbc:initialize-database data-source="dataSource" enabled="true" ignore-failures="ALL">
         <jdbc:script location="classpath*:/sql/script.sql"/>
     </jdbc:initialize-database>


    <util:list id="hibernatePackagesToScan">
        <value>com.espark.adarsh.spring.persistence.entities</value>
    </util:list>


    <bean id="hibernateSessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean"
          scope="prototype">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan" ref="hibernatePackagesToScan"/>
        <property name="hibernateProperties" ref="defaultHibernateProperties"/>
    </bean>


    <bean id="defaultHibernateProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="properties">
            <props>
                <prop key="hibernate.hbm2ddl.auto">
                    ${hibernate.hbm2ddl.auto}
                </prop>
                <prop key="hibernate.max_fetch_depth">
                    ${hibernate.max_fetch_depth}
                </prop>
                <prop key="hibernate.jdbc.batch_size">
                    ${hibernate.batch_size}
                </prop>
                <prop key="hibernate.jdbc.use_scrollable_resultset">
                    ${hibernate.jdbc.use_scrollable_resultset}
                </prop>
                <prop key="hibernate.dialect">
                    ${hibernate.dialect}
                </prop>

                <!-- caching -->
                <prop key="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.SingletonEhCacheRegionFactory</prop>
                <prop key="hibernate.cache.provider_class">${hibernate.cache.provider_class}</prop>
                <prop key="hibernate.cache.use_second_level_cache">${hibernate.cache.use_second_level_cache}</prop>

                 <prop key="hibernate.cache.use_query_cache">${hibernate.cache.use_query_cache}</prop>

                <!--  logging & stats -->
                <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
                <prop key="hibernate.format_sql">${hibernate.format_sql}</prop>
                <prop key="hibernate.generate_statistics">${hibernate.generate_statistics}</prop>

                <!--<prop key="hibernate.bytecode.use_reflection_optimizer">false</prop>-->
                <!-- Uncomment the following two properties for JBoss only -->
                <prop key="hibernate.validator.apply_to_ddl">false</prop>
                <!--<prop key="hibernate.validator.autoregister_listeners">false</prop>-->
                <!-- this property is ignored as we use coy to handle transactions -->
                <!--<prop key="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</prop>-->
            </props>
        </property>
    </bean>

    <!-- ========= Transactions =========-->
    <!-- == TRANSACTIONS == -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="hibernateSessionFactory"/>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager" mode="proxy"/>

</beans>