<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:security="http://www.springframework.org/schema/security"
             xmlns:contex="http://www.springframework.org/schema/context"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
                                  http://www.springframework.org/schema/beans/spring-beans.xsd
                                  http://www.springframework.org/schema/security
                                  http://www.springframework.org/schema/security/spring-security.xsd
                                  http://www.springframework.org/schema/context
                                  http://www.springframework.org/schema/context/spring-context.xsd">

    <contex:property-placeholder location="classpath*:/properties/application.properties"/>

    <contex:component-scan base-package="com.adarsh.security"/>

    <security:authentication-manager id="authenticationManager">
        <security:authentication-provider user-service-ref="userDetailsService"/>
    </security:authentication-manager>

    <security:user-service id="userDetailsService">
        <security:user name="adarsh" password="adarsh" authorities="ROLE_SUPERADMIN"/>
        <security:user name="radha" password="radha" authorities="ROLE_USER, ROLE_ADMIN"/>
        <security:user name="user" password="user" authorities="ROLE_USER"/>
    </security:user-service>

</beans:beans>
