<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:beans="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/security
                           http://www.springframework.org/schema/security/spring-security.xsd">

    <!-- Disable security on static resources -->
    <security:http pattern="/static/**" security="none"/>

    <security:global-method-security secured-annotations="enabled" />

    <security:http realm="Api Server"
                   entry-point-ref="apiServerAuthenticationEntryPoint"
                   use-expressions="true"
                   auto-config="false"
                   create-session="stateless">

        <security:csrf disabled="true"/>

        <security:intercept-url pattern="/api/login" access="permitAll()"/>
        <security:intercept-url pattern="/api//welcomePage" access="permitAll()"/>
        <security:intercept-url pattern="/api/**" access="hasAnyRole('ROLE_ADMIN','ROLE_USER')"/>
        <security:intercept-url pattern="/api/user/all" access="hasAnyRole('ROLE_ADMIN','ROLE_USER')"/>
        <security:intercept-url pattern="/api/user/**" access="hasAnyRole('ROLE_ADMIN','ROLE_USER')"/>

        <security:custom-filter ref="statelessLoginFilter"
                                position="FORM_LOGIN_FILTER"/>

        <security:custom-filter ref="statelessAuthenticationFilter"
                                after="FORM_LOGIN_FILTER"/>

        <!-- Adds a logout filter to Spring Security filter chain -->
        <security:logout logout-url="/api/logout"
                         delete-cookies="true"
                         invalidate-session="true"
                         success-handler-ref="logoutSuccessHandler"/>

        <security:access-denied-handler ref="accessDeniedHandler"/>

    </security:http>

    <beans:bean id="accessDeniedHandler"
                class="com.adarsh.spring.web.security.AccessDeniedHandler"/>
    <beans:bean id="logoutSuccessHandler"
                class="com.adarsh.spring.web.security.RestLogoutSuccessHandler"/>
    <beans:bean id="authenticationFailureHandler"
                class="com.adarsh.spring.web.security.RestAuthenticationFailureHandler"/>
    <beans:bean id="authenticationSuccessHandler"
                class="com.adarsh.spring.web.security.RestAuthenticationSuccessHandler">
        <property name="alwaysUseDefaultTargetUrl" value="true"/>
        <property name="defaultTargetUrl" value="/api/login"/>
    </beans:bean>

    <beans:bean id="statelessAuthenticationFilter"
                class="com.adarsh.spring.web.security.RestStatelessAuthenticationFilter">
        <beans:constructor-arg name="taService" ref="tokenAuthenticationService"/>
    </beans:bean>

    <beans:bean id="statelessLoginFilter"
                class="com.adarsh.spring.web.security.RestStatelessAuthenticationLoginFilter">
        <beans:constructor-arg name="authManager" ref="authenticationManager"/>
        <beans:constructor-arg name="userDetailsService" ref="userDetailsServiceImpl"/>
        <beans:constructor-arg name="tokenAuthenticationService" ref="tokenAuthenticationService"/>
        <beans:constructor-arg name="urlMapping" value="/api/login"/>
        <beans:property name="authenticationSuccessHandler" ref="authenticationSuccessHandler"/>
        <beans:property name="authenticationFailureHandler" ref="authenticationFailureHandler"/>
    </beans:bean>

    <security:authentication-manager alias="authenticationManager">
        <security:authentication-provider user-service-ref="userDetailsServiceInMemo">
            <security:password-encoder ref="passwordEncoder"/>
        </security:authentication-provider>
        <security:authentication-provider user-service-ref="userDetailsServiceImpl"/>
    </security:authentication-manager>

    <!--admin:admin,user:user-->
    <security:user-service id="userDetailsServiceInMemo">
        <security:user name="admin" password="21232f297a57a5a743894a0e4a801fc3"
                       authorities="ROLE_USER, ROLE_ADMIN"/>
        <security:user name="user" password="ee11cbb19052e40b07aac0ca060c23ee"
                       authorities="ROLE_USER"/>
    </security:user-service>

    <beans:bean id="passwordEncoder"
                class="org.springframework.security.authentication.encoding.Md5PasswordEncoder"/>

</beans>